<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878638150557-9g0ird0k26q5400070d2hpe8ganeaiuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878638150557-9g0ird0k26q5400070d2hpe8ganeaiuv</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ugK9cKGV2MeVeAGCXqXlyEf6qwbHOD8</string>
	<key>GCM_SENDER_ID</key>
	<string>878638150557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fisioflex</string>
	<key>PROJECT_ID</key>
	<string>teraflex-dc661</string>
	<key>STORAGE_BUCKET</key>
	<string>teraflex-dc661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878638150557:ios:99d6bd8f53269caeee3574</string>
</dict>
</plist>